.welcomeBanner{
    font-size: clamp(2em, 5vw, 5em);
}

.welcomeBanner > *{
    margin-bottom: 4px;
}

.welcomeBanner > h1{
    animation: fadeInSlideDown 1s ease-in-out;
}

.welcomeBanner > h3{
    margin-top: 0px;
    opacity: 0;
    animation: fadeInSlideDown 1s ease-in-out forwards;
    animation-delay: 1s;
}

.welcomeBannerContainer{
    display: flex;
    justify-content: flex-start;
    padding: 2em;
}

@keyframes fadeInSlideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.iconsContainer{
    margin-top: 20px;
}

.iconsContainer svg {
    margin: 0px 0.2em;
    height: 2em;
    width: 2em;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInTranslate 0.6s ease-in forwards;
}

.iconsContainer svg:nth-child(1) {
    animation-delay: 1.4s;
}

.iconsContainer svg:nth-child(2) {
    animation-delay: 1.8s;
}

.iconsContainer svg:nth-child(3) {
    animation-delay: 2.2s;
}

.iconsContainer svg:nth-child(4) {
    animation-delay: 2.6s;
}

@keyframes fadeInTranslate {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scrollDownContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s opacity linear;
}

.scrollDownContainer > svg{
    width: 5em;
    height: 5em;
    animation: bounceDown 1.7s ease-out infinite;
}

@keyframes bounceDown {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(2em);
    }
    100% {
        transform: translateY(0);
    } 
}