.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-thick {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}