html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.roboto-thick {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}